h1 {
  font: var(--h1);
  color: var(--txt-prim);
}

div.texto-main p {
  color: var(--txt-prim);
  font: var(--parag);
}
span#hero-destaque {
  color: var(--txt-destaque);
  font: var(--span);
}

.texto-main {
  max-width: 540px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
}

.txt-img {
  position: relative;
  z-index: 1;

  display: flex;
  flex-direction: row;
  padding: 0px 100px;
}

/* Ilustração */
section#hero {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-image: url(/assets/images/desktop/Ilustração-desktop.svg);
  background-size: cover;
  background-position: bottom;
  background-repeat: no-repeat;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

/* media queries */
@media (max-width: 768px) {
  h1 {
    font: var(--h1m);
  }
  div.texto-main p {
    font: var(--paragm);
  }
  span#hero-destaque {
    font: var(--spanm);
  }
  .texto-main {
    max-width: 320px;
    width: 100%;
    justify-content: flex-start;
    text-align: center;
  }
  .txt-img{
    width: 320px;
    height: 340px;
    gap: 20px;
    flex-direction: column;
    padding: 0 24px;
  }
  .txt-img picture img{
    width: 100%;
    height: auto;
  }
  section#hero {
    height: 100vh;
    padding: 32px 24px;
    background-image: url(/assets/images/mobile/Ilustração-mobile.svg);
  }
}
