@import url(/styles/global.css);
@import url(/styles/header.css);
@import url(/styles/hero.css);
@import url(/styles/about-section.css);
@import url(/styles/footer.css);
@import url(/styles/store-section.css);